# Import Libraries

In [438]:
import gurobipy as grb
import pandas as pd
from gurobipy import GRB
import numpy as np

# Model

In [439]:
 # Create a model
model = grb.Model("Model")

# Get data from json

In [440]:
# get the  data from the json file small.json
import json
with open('small.json') as f:
    data = json.load(f)
# data

## Constants from data

In [441]:
horizon= data['horizon']
qualifications=data['qualifications']
staff_names=[i['name'] for i in data['staff']]
staff_qualifications=[i['qualifications'] for i in data['staff']]
job_list=[i['name'] for i in data['jobs']]
jour_list=[i for i in range(1,horizon+1)]
job_penality=[i['daily_penalty'] for i in data['jobs']] 
job_qualifications= [i['working_days_per_qualification'] for i in data['jobs']]
job_gain=[i['gain'] for i in data['jobs']]
due_dates=[i['due_date'] for i in data['jobs']]
vacation_staff=[i['vacations'] for i in data['staff']]

# Model's parameters

#### Objective 1
H : days

Q : qualifications

S : staff

J : jobs

qi : qualifications of i

qj : qualifications of j

vi : vacation days of i

njk : required work load for j with k

cj : daily penalty of j

gj : gain of j

dj : due date of j

yj : is j completely done

lj : delay in days for j

ej : end date of j

pi_j_k_t : work is done by i with k for j on t

#### Objective 2
aij : j is assigned to i

ni : number of jobs i works on

max_i : max of ni

### Objective 3
sj : start date for j

nj : length in days for j

max_j : maximum of nj

In [442]:
H = [i for i in range(1,horizon+1)]
Q = qualifications
S = staff_names
J = job_list
# Parameters for each staff

qi = {}
for i in range(len(staff_names)) :
    k = staff_names[i]
    qi[k] = []
    for c in qualifications:
        if c in data['staff'][i]['qualifications']:
            qi[k].append(c)
vi={}
for ind,i in enumerate(staff_names):
    vi[i] = []
    for j in jour_list:
        if j in vacation_staff[ind]:
            vi[i].append(j)
#vi=staff_in_vacation.to_dict(orient='index')

# Parameters for each job
qj = dict()
for ind, j in enumerate(job_list):
    qj[j] = list(job_qualifications[ind].keys())
njk = dict(zip(job_list,job_qualifications))
cj=job_penality_dict=dict(zip(job_list,job_penality))
gj=job_gain_dict=dict(zip(job_list,job_gain))
dj = dict(zip(job_list,due_dates))

# Decision variables

In [443]:
# Objective 1
pi_j_k_t = model.addVars(staff_names,job_list,qualifications,jour_list, vtype=GRB.BINARY, name="pi_k_j_c")

yj = model.addVars(job_list, vtype=GRB.BINARY, name="yj")
lj = model.addVars(job_list, vtype=GRB.INTEGER, name="lj")
ej = model.addVars(job_list, vtype=GRB.INTEGER, name="ej")

# Objective 2
max_i = model.addVar(vtype=GRB.INTEGER, name="max_i")
ni = model.addVars(S, vtype=GRB.INTEGER, name="ni")
aij = model.addVars(S, J, vtype=GRB.BINARY, name="aij")

# Objective 3
sj = model.addVars(J, vtype=GRB.INTEGER, name="sj")
nj = model.addVars(J, vtype=GRB.INTEGER, name="nj")
max_j = model.addVar(vtype=GRB.INTEGER, name="max_j")

# Constraints

### Objective 1

In [444]:
constr1 = {f'constr1{i}_{t}':model.addConstr( grb.quicksum(pi_j_k_t[i,j,k,t] for j in J for k in Q) <= 1 , name=f"constr1{i}_{t}")
  for i in S
  for t in H}

constr2 = {f'constr2{i}_{t}':model.addConstr( grb.quicksum(pi_j_k_t[i,j,k,t] for j in J for k in Q) == 0 , name=f"constr2{i}_{t}")
  for i in S
  for t in vi[i]}

constr3 = {f'constr3{i}_{j}_{k}_{t}':model.addConstr( pi_j_k_t[i,j,k,t] == 0 , name=f"constr3{i}_{j}_{k}_{t}")
  for i in S
  for j in J
  for k in Q if k not in qj[j] or k not in qi[i]
  for t in H}

constr4 = {f'constr4{j}_{k}': model.addConstr( yj[j]*njk[j][k] <= grb.quicksum(pi_j_k_t[i,j,k,t] for i in S for t in H) , name=f"constr4{j}_{k}")
  for j in J
  for k in qj[j]}

constr5 = {f'constr5{j}_{k}': model.addConstr( grb.quicksum(pi_j_k_t[i,j,k,t] for i in S for t in H) <= njk[j][k] , name=f"constr5{j}_{k}")
  for j in J
  for k in qj[j]}

constr6 = {f'constr6{i}_{j}_{k}_{t}':model.addConstr( pi_j_k_t[i,j,k,t]*t <= ej[j] , name=f"constr6{i}_{j}_{k}_{t}")
  for i in S
  for j in J
  for k in Q
  for t in H}

constr7 = {f'constr7{j}' : model.addConstr( ej[j] - dj[j] <= lj[j] , name =f"constr7{j}")
  for j in J}

constr8 = {f'constr8{j}' : model.addConstr( 1 <= ej[j] , name =f"constr8{j}")
  for j in J}

constr9 = {f'constr9{j}' : model.addConstr( ej[j] <= H[-1] , name =f"constr9{j}")
  for j in J}

### Objective 2

In [445]:
# assigned jobs to a staff member i is aij[i, j]
constr10 = {f'constr10{i}_{j}_{k}_{t}' : model.addConstr( pi_j_k_t[i,j,k,t] <= aij[i, j] , name = f"constr10{i}_{j}_{k}_{t}")
    for i in S
    for j in J
    for k in Q
    for t in H}

# number of jobs assigned to a staff member i is ni[i]
constr11 = {f'constr11{i}' : model.addConstr( grb.quicksum(aij[i, j] for j in J) <= ni[i] , name = f"constr11{i}")
    for i in S}

# max_i max number of jobs assigned to a staff member
# for all staff i, number of jobs assigned to i is less than or equal to max_i
constr12 = {f'constr12{i}' : model.addConstr( ni[i] <= max_i , name = f"constr12{i}")
    for i in S}

### Objective 3

In [446]:
# start date of a job j is sj[j]
constr13 = {f'constr13{i}_{j}_{k}_{t}' : model.addConstr( sj[j] <= t*pi_j_k_t[i,j,k,t] + horizon*(1-pi_j_k_t[i,j,k,t]) , name = f"constr13{i}_{j}_{k}_{t}")
    for j in J
    for i in S
    for k in Q
    for t in H}

# start date is at least 1
constr14 = {f'constr14{j}' : model.addConstr( 1 <= sj[j] , name = f"constr14{j}")
    for j in J}

# length of a job j is nj[j]
constr15 = {f'constr15{j}' : model.addConstr( sj[j] + 1 - ej[j] <= nj[j] , name = f"constr15{j}")
    for j in J}

# max_j max of nj[j]
constr16 = {f'constr16{j}' : model.addConstr( nj[j] <= max_j , name = f"constr16{j}")
    for j in J}

# Objectives

In [447]:
# Objective 1
# model.setObjective( grb.quicksum((gj[j]*yj[j] - lj[j]*cj[j]) for j in J) , GRB.MAXIMIZE)

# Objective 1 & 2
# model.setObjective( grb.quicksum((gj[j]*yj[j] - lj[j]*cj[j]) for j in J) - max_i , GRB.MAXIMIZE)

# Objective 1 & 2 & 3
model.setObjective( grb.quicksum((gj[j]*yj[j] - lj[j]*cj[j]) for j in J) - max_i - max_j , GRB.MAXIMIZE)

# setObjectiveN doesn't work
# model.setObjectiveN( grb.quicksum((gj[j]*yj[j] - lj[j]*cj[j]) for j in J) , 0, GRB.MAXIMIZE)
# model.setObjectiveN( max_i , 1, GRB.MINIMIZE)

# Paramétrage (mode mute)
model.params.outputflag = 0
# Résolution du PL
model.optimize()

{'Job1': <gurobi.Var nj[Job1] (value 0.0)>,
 'Job2': <gurobi.Var nj[Job2] (value 0.0)>,
 'Job3': <gurobi.Var nj[Job3] (value 0.0)>,
 'Job4': <gurobi.Var nj[Job4] (value 0.0)>,
 'Job5': <gurobi.Var nj[Job5] (value -0.0)>}

In [449]:
#model.computeIIS()
model.write("model.lp")

In [450]:
model.ObjVal

63.0

In [451]:
values= []
for k, v in pi_j_k_t.items():
    values.append(v.x)

In [452]:
res = pd.DataFrame(list(pi_j_k_t.keys()))
res[4] = values
result = res[res[4] == 1]
result

          0     1  2  3    4
1    Olivia  Job1  A  2  1.0
7    Olivia  Job1  B  3  1.0
10   Olivia  Job1  C  1  1.0
73   Olivia  Job5  C  4  1.0
74   Olivia  Job5  C  5  1.0
108    Liam  Job3  A  4  1.0
126    Liam  Job4  B  2  1.0
127    Liam  Job4  B  3  1.0
190    Emma  Job3  C  1  1.0
193    Emma  Job3  C  4  1.0
207    Emma  Job4  C  3  1.0

## Result Table

In [453]:
def color_table(x):
    if pd.isna(x):
        return "background-color: white"
    else:
        if "Job1" in x :
            return "background-color: blue"
        elif "Job2" in x:
            return "background-color: pink"
        elif "Job3" in x:
            return "background-color: orange"
        elif "Job4" in x:
           return "background-color: yellow"
        elif "Job5" in x:
           return "background-color: green"
        else:
           return  "background-color: red"

In [454]:
df = pd.DataFrame(columns = [i for i in range(1,6)], index = staff_names)

for ind, val in result.iterrows():
    col = val[3]
    row = val[0]
    v = val[1] + " " + val[2]
    df.loc[row,col] = v
    # vacation
    for staff in staff_names:
        for day in jour_list:
            if day in vi[staff]:
                df.loc[staff,day] = 'X'
df.style.applymap(color_table)