# Import Libraries

In [1]:
import gurobipy as grb
import pandas as pd
from gurobipy import GRB
import numpy as np

# Model

In [2]:
 # Create a model
model = grb.Model("Model")

Set parameter Username
Academic license - for non-commercial use only - expires 2023-12-10

# Get data from json

In [3]:
# get the  data from the json file small.json
import json
with open('medium.json') as f:
    data = json.load(f)
data

{'horizon': 22,
 'qualifications': ['F', 'G', 'A', 'D', 'J', 'C', 'H', 'E', 'B', 'I'],
 'staff': [{'name': 'Olivia',
   'qualifications': ['A', 'B', 'C'],
   'vacations': [1, 2]},
  {'name': 'Liam', 'qualifications': ['A', 'D', 'E'], 'vacations': [1, 2]},
  {'name': 'Emma', 'qualifications': ['B', 'H'], 'vacations': [8, 9]},
  {'name': 'Noah',
   'qualifications': ['G', 'D', 'J', 'C', 'H', 'I'],
   'vacations': []},
  {'name': 'Amelia',
   'qualifications': ['F', 'G', 'J', 'E'],
   'vacations': [16, 15]}],
 'jobs': [{'name': 'Job1',
   'gain': 15,
   'due_date': 20,
   'daily_penalty': 3,
   'working_days_per_qualification': {'A': 4, 'B': 4}},
  {'name': 'Job2',
   'gain': 30,
   'due_date': 16,
   'daily_penalty': 3,
   'working_days_per_qualification': {'A': 4, 'B': 2, 'C': 1, 'D': 4}},
  {'name': 'Job3',
   'gain': 30,
   'due_date': 12,
   'daily_penalty': 3,
   'working_days_per_qualification': {'A': 4, 'C': 1}},
  {'name': 'Job4',
   'gain': 30,
   'due_date': 18,
   'daily_penalty': 3,
   'working_days_per_qualification': {'A': 6}},
  {'name': 'Job5',
   'gain': 70,
   'due_date': 10,
   'daily_penalty': 3,
   'working_days_per_qualification': {'B': 3, 'C': 4, 'D': 8}},
  {'name': 'Job6',
   'gain': 40,
   'due_date': 16,
   'daily_penalty': 3,
   'working_days_per_qualification': {'D': 4, 'E': 5}},
  {'name': 'Job7',
   'gain': 20,
   'due_date': 20,
   'daily_penalty': 3,
   'working_days_per_qualification': {'D': 5, 'E': 5, 'F': 1}},
  {'name': 'Job8',
   'gain': 10,
   'due_date': 22,
   'daily_penalty': 3,
   'working_days_per_qualification': {'E': 3, 'F': 6}},
  {'name': 'Job9',
   'gain': 25,
   'due_date': 18,
   'daily_penalty': 3,
   'working_days_per_qualification': {'E': 4, 'G': 3, 'H': 2}},
  {'name': 'Job10',
   'gain': 20,
   'due_date': 18,
   'daily_penalty': 3,
   'working_days_per_qualification': {'F': 6}},
  {'name': 'Job11',
   'gain': 25,
   'due_date': 18,
   'daily_penalty': 3,
   'working_days_per_qualification': {'F': 6, 'G': 2, 'H': 1}},
  {'name': 'Job12',
   'gain': 45,
   'due_date': 12,
   'daily_penalty': 3,
   'working_days_per_qualification': {'H': 6, 'J': 3}},
  {'name': 'Job13',
   'gain': 40,
   'due_date': 14,
   'daily_penalty': 3,
   'working_days_per_qualification': {'I': 4, 'J': 8}},
  {'name': 'Job14',
   'gain': 60,
   'due_date': 12,
   'daily_penalty': 3,
   'working_days_per_qualification': {'G': 4, 'J': 4}},
  {'name': 'Job15',
   'gain': 50,
   'due_date': 16,
   'daily_penalty': 3,
   'working_days_per_qualification': {'G': 4, 'H': 4}}]}

## Constants from data

In [4]:
horizon= data['horizon']
qualifications=data['qualifications']
staff_names=[i['name'] for i in data['staff']]
staff_qualifications=[i['qualifications'] for i in data['staff']]
job_list=[i['name'] for i in data['jobs']]
jour_list=[i for i in range(1,horizon+1)]
job_penality=[i['daily_penalty'] for i in data['jobs']] 
job_qualifications= [i['working_days_per_qualification'] for i in data['jobs']]
job_gain=[i['gain'] for i in data['jobs']]
due_dates=[i['due_date'] for i in data['jobs']]
vacation_staff=[i['vacations'] for i in data['staff']]

In [5]:
data

{'horizon': 22,
 'qualifications': ['F', 'G', 'A', 'D', 'J', 'C', 'H', 'E', 'B', 'I'],
 'staff': [{'name': 'Olivia',
   'qualifications': ['A', 'B', 'C'],
   'vacations': [1, 2]},
  {'name': 'Liam', 'qualifications': ['A', 'D', 'E'], 'vacations': [1, 2]},
  {'name': 'Emma', 'qualifications': ['B', 'H'], 'vacations': [8, 9]},
  {'name': 'Noah',
   'qualifications': ['G', 'D', 'J', 'C', 'H', 'I'],
   'vacations': []},
  {'name': 'Amelia',
   'qualifications': ['F', 'G', 'J', 'E'],
   'vacations': [16, 15]}],
 'jobs': [{'name': 'Job1',
   'gain': 15,
   'due_date': 20,
   'daily_penalty': 3,
   'working_days_per_qualification': {'A': 4, 'B': 4}},
  {'name': 'Job2',
   'gain': 30,
   'due_date': 16,
   'daily_penalty': 3,
   'working_days_per_qualification': {'A': 4, 'B': 2, 'C': 1, 'D': 4}},
  {'name': 'Job3',
   'gain': 30,
   'due_date': 12,
   'daily_penalty': 3,
   'working_days_per_qualification': {'A': 4, 'C': 1}},
  {'name': 'Job4',
   'gain': 30,
   'due_date': 18,
   'daily_penalty': 3,
   'working_days_per_qualification': {'A': 6}},
  {'name': 'Job5',
   'gain': 70,
   'due_date': 10,
   'daily_penalty': 3,
   'working_days_per_qualification': {'B': 3, 'C': 4, 'D': 8}},
  {'name': 'Job6',
   'gain': 40,
   'due_date': 16,
   'daily_penalty': 3,
   'working_days_per_qualification': {'D': 4, 'E': 5}},
  {'name': 'Job7',
   'gain': 20,
   'due_date': 20,
   'daily_penalty': 3,
   'working_days_per_qualification': {'D': 5, 'E': 5, 'F': 1}},
  {'name': 'Job8',
   'gain': 10,
   'due_date': 22,
   'daily_penalty': 3,
   'working_days_per_qualification': {'E': 3, 'F': 6}},
  {'name': 'Job9',
   'gain': 25,
   'due_date': 18,
   'daily_penalty': 3,
   'working_days_per_qualification': {'E': 4, 'G': 3, 'H': 2}},
  {'name': 'Job10',
   'gain': 20,
   'due_date': 18,
   'daily_penalty': 3,
   'working_days_per_qualification': {'F': 6}},
  {'name': 'Job11',
   'gain': 25,
   'due_date': 18,
   'daily_penalty': 3,
   'working_days_per_qualification': {'F': 6, 'G': 2, 'H': 1}},
  {'name': 'Job12',
   'gain': 45,
   'due_date': 12,
   'daily_penalty': 3,
   'working_days_per_qualification': {'H': 6, 'J': 3}},
  {'name': 'Job13',
   'gain': 40,
   'due_date': 14,
   'daily_penalty': 3,
   'working_days_per_qualification': {'I': 4, 'J': 8}},
  {'name': 'Job14',
   'gain': 60,
   'due_date': 12,
   'daily_penalty': 3,
   'working_days_per_qualification': {'G': 4, 'J': 4}},
  {'name': 'Job15',
   'gain': 50,
   'due_date': 16,
   'daily_penalty': 3,
   'working_days_per_qualification': {'G': 4, 'H': 4}}]}

# Model's parameters

#### Objective 1
H : days

Q : qualifications

S : staff

J : jobs

qi : qualifications of i

qj : qualifications of j

vi : vacation days of i

njk : required work load for j with k

cj : daily penalty of j

gj : gain of j

dj : due date of j

yj : is j completely done

lj : delay in days for j

ej : end date of j

pi_j_k_t : work is done by i with k for j on t

#### Objective 2
aij : j is assigned to i

ni : number of jobs i works on

max_i : max of ni

### Objective 3
sj : start date for j

nj : length in days for j

max_j : maximum of nj

In [6]:
H = [i for i in range(1,horizon+1)]
Q = qualifications
S = staff_names
J = job_list
# Parameters for each staff

qi = {}
for i in range(len(staff_names)) :
    k = staff_names[i]
    qi[k] = []
    for c in qualifications:
        if c in data['staff'][i]['qualifications']:
            qi[k].append(c)
vi={}
for ind,i in enumerate(staff_names):
    vi[i] = []
    for j in jour_list:
        if j in vacation_staff[ind]:
            vi[i].append(j)
#vi=staff_in_vacation.to_dict(orient='index')

# Parameters for each job
qj = dict()
for ind, j in enumerate(job_list):
    qj[j] = list(job_qualifications[ind].keys())
njk = dict(zip(job_list,job_qualifications))
cj=job_penality_dict=dict(zip(job_list,job_penality))
gj=job_gain_dict=dict(zip(job_list,job_gain))
dj = dict(zip(job_list,due_dates))

# Decision variables

In [7]:
# Objective 1
pijkt = model.addVars(staff_names,job_list,qualifications,jour_list, vtype=GRB.BINARY, name="pijkt")

yj = model.addVars(job_list, vtype=GRB.BINARY, name="yj")
lj = model.addVars(job_list, vtype=GRB.INTEGER, name="lj")
ej = model.addVars(job_list, vtype=GRB.INTEGER, name="ej")

# Objective 2
max_i = model.addVar(vtype=GRB.INTEGER, name="max_i")
ni = model.addVars(S, vtype=GRB.INTEGER, name="ni")
aij = model.addVars(S, J, vtype=GRB.BINARY, name="aij")

# Objective 3
sj = model.addVars(J, vtype=GRB.INTEGER, name="sj")
nj = model.addVars(J, vtype=GRB.INTEGER, name="nj")
max_j = model.addVar(vtype=GRB.INTEGER, name="max_j")

# Constraints

### Objective 1

In [8]:
constr1 = {f'constr1{i}_{t}':model.addConstr( grb.quicksum(pijkt[i,j,k,t] for j in J for k in Q) <= 1 , name=f"constr1{i}_{t}")
  for i in S
  for t in H}

constr2 = {f'constr2{i}_{t}':model.addConstr( grb.quicksum(pijkt[i,j,k,t] for j in J for k in Q) == 0 , name=f"constr2{i}_{t}")
  for i in S
  for t in vi[i]}

constr3 = {f'constr3{i}_{j}_{k}_{t}':model.addConstr( pijkt[i,j,k,t] == 0 , name=f"constr3{i}_{j}_{k}_{t}")
  for i in S
  for j in J
  for k in Q if k not in qj[j] or k not in qi[i]
  for t in H}

constr4 = {f'constr4{j}_{k}': model.addConstr( yj[j]*njk[j][k] <= grb.quicksum(pijkt[i,j,k,t] for i in S for t in H) , name=f"constr4{j}_{k}")
  for j in J
  for k in qj[j]}

constr5 = {f'constr5{j}_{k}': model.addConstr( grb.quicksum(pijkt[i,j,k,t] for i in S for t in H) <= njk[j][k] , name=f"constr5{j}_{k}")
  for j in J
  for k in qj[j]}

constr6 = {f'constr6{i}_{j}_{k}_{t}':model.addConstr( pijkt[i,j,k,t]*t <= ej[j] , name=f"constr6{i}_{j}_{k}_{t}")
  for i in S
  for j in J
  for k in Q
  for t in H}

constr7 = {f'constr7{j}' : model.addConstr( ej[j] - dj[j] <= lj[j] , name =f"constr7{j}")
  for j in J}

constr8 = {f'constr8{j}' : model.addConstr( 1 <= ej[j] , name =f"constr8{j}")
  for j in J}

constr9 = {f'constr9{j}' : model.addConstr( ej[j] <= H[-1] , name =f"constr9{j}")
  for j in J}

### Objective 2

In [9]:
# assigned jobs to a staff member i is aij[i, j]
constr10 = {f'constr10{i}_{j}_{k}_{t}' : model.addConstr( pijkt[i,j,k,t] <= aij[i, j] , name = f"constr10{i}_{j}_{k}_{t}")
    for i in S
    for j in J
    for k in Q
    for t in H}

# number of jobs assigned to a staff member i is ni[i]
constr11 = {f'constr11{i}' : model.addConstr( grb.quicksum(aij[i, j] for j in J) <= ni[i] , name = f"constr11{i}")
    for i in S}

# max_i max number of jobs assigned to a staff member
# for all staff i, number of jobs assigned to i is less than or equal to max_i
constr12 = {f'constr12{i}' : model.addConstr( ni[i] <= max_i , name = f"constr12{i}")
    for i in S}

### Objective 3

In [10]:
# start date is at least 1
constr14 = {f'constr14_{j}' : model.addConstr( 1 <= sj[j] , name = f"constr14_{j}")
    for j in J}

# start date of j is sj[j]
constr15 = {f'constr15{i}_{j}_{k}_{t}' : model.addConstr( sj[j] <= t*pijkt[i,j,k,t] + H[-1]*(1-pijkt[i,j,k,t]) , name = f"constr15{i}_{j}_{k}_{t}")
    for i in S
    for j in J
    for k in Q
    for t in H}

# length of a job j is nj[j]
constr16 = {f'constr16{j}' : model.addConstr( ej[j] + 1 - sj[j] <= nj[j] , name = f"constr16{j}")
    for j in J}

# max_j max of nj[j]
constr17 = {f'constr17{j}' : model.addConstr( nj[j] <= max_j , name = f"constr17{j}")
    for j in J}

# Objectives

In [ ]:
# Objective 1
#model.setObjective( grb.quicksum((gj[j]*yj[j] - lj[j]*cj[j]) for j in J) , GRB.MAXIMIZE)

# Objective 1 & 2
# model.setObjective( grb.quicksum((gj[j]*yj[j] - lj[j]*cj[j]) for j in J) - max_i , GRB.MAXIMIZE)

# Objective 1 & 2 & 3
#model.setObjective(  max_j , GRB.MAXIMIZE)

# setObjectiveN
model.ModelSense = GRB.MAXIMIZE
model.setObjectiveN( grb.quicksum((gj[j]*yj[j] - lj[j]*cj[j]) for j in J) , 0, 1)
model.setObjectiveN( - max_i , 1, 1)
model.setObjectiveN( - max_j , 2, 1)

# Paramétrage (mode mute)
model.params.outputflag = 1
# Résolution du PL
model.optimize()

Gurobi Optimizer version 10.0.0 build v10.0.0rc2 (mac64[rosetta2])

CPU model: Apple M1
Thread count: 8 physical cores, 8 logical processors, using up to 8 threads

Optimize a model with 64900 rows, 16657 columns and 138818 nonzeros
Model fingerprint: 0xc7362fe2
Variable types: 0 continuous, 16657 integer (16590 binary)
Coefficient statistics:
  Matrix range     [1e+00, 2e+01]
  Objective range  [1e+00, 7e+01]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 2e+01]

---------------------------------------------------------------------------
Multi-objectives: starting optimization with 3 objectives (1 combined) ...
---------------------------------------------------------------------------
---------------------------------------------------------------------------

Multi-objectives: optimize objective 1 (weighted) ...
---------------------------------------------------------------------------

Optimize a model with 64900 rows, 16657 columns and 138818 nonzeros
Model fingerprint: 0x3f887c5b
Variable types: 0 continuous, 16657 integer (16590 binary)
Coefficient statistics:
  Matrix range     [1e+00, 2e+01]
  Objective range  [1e+00, 7e+01]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 2e+01]
Found heuristic solution: objective -1.0000000
Presolve removed 62288 rows and 15256 columns
Presolve time: 0.07s
Presolved: 2612 rows, 1401 columns, 10167 nonzeros
Variable types: 0 continuous, 1401 integer (1355 binary)
Found heuristic solution: objective -0.0000000

Root relaxation: objective 4.437760e+02, 3327 iterations, 0.15 seconds (0.38 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0  443.77597    0  546   -0.00000  443.77597      -     -    0s
H    0     0                      25.0000000  443.77597  1675%     -    0s
H    0     0                      56.0000000  443.77597   692%     -    0s
H    0     0                     163.0000000  443.77597   172%     -    0s
     0     0  434.83783    0  341  163.00000  434.83783   167%     -    0s
H    0     0                     240.0000000  434.83783  81.2%     -    0s
     0     0  434.03039    0  315  240.00000  434.03039  80.8%     -    0s
     0     0  429.68866    0  325  240.00000  429.68866  79.0%     -    0s
     0     0  428.46241    0  308  240.00000  428.46241  78.5%     -    0s
     0     0  428.46241    0  300  240.00000  428.46241  78.5%     -    0s
     0     0  425.12998    0  291  240.00000  425.12998  77.1%     -    0s
     0     0  422.74539    0  378  240.00000  422.74539  76.1%     -    0s
     0     0  422.44022    0  346  240.00000  422.44022  76.0%     -    0s
     0     0  422.07674    0  318  240.00000  422.07674  75.9%     -    0s
     0     0  422.03428    0  330  240.00000  422.03428  75.8%     -    0s
     0     0  422.02043    0  326  240.00000  422.02043  75.8%     -    0s
     0     0  422.01724    0  341  240.00000  422.01724  75.8%     -    0s
     0     0  420.59378    0  348  240.00000  420.59378  75.2%     -    0s
H    0     0                     287.0000000  420.59378  46.5%     -    0s
     0     0  419.39027    0  326  287.00000  419.39027  46.1%     -    0s
H    0     0                     288.0000000  419.29601  45.6%     -    0s
     0     0  419.29601    0  317  288.00000  419.29601  45.6%     -    0s
     0     0  419.28740    0  313  288.00000  419.28740  45.6%     -    0s
     0     0  418.35269    0  307  288.00000  418.35269  45.3%     -    0s
H    0     0                     303.0000000  418.35269  38.1%     -    1s
     0     0  418.16758    0  322  303.00000  418.16758  38.0%     -    1s
     0     0  418.15823    0  323  303.00000  418.15823  38.0%     -    1s
     0     0  417.79193    0  333  303.00000  417.79193  37.9%     -    1s
H    0     0                     321.0000000  417.79193  30.2%     -    1s
     0     0  417.72442    0  355  321.00000  417.72442  30.1%     -    1s
     0     0  417.69539    0  346  321.00000  417.69539  30.1%     -    1s
     0     0  417.69414    0  346  321.00000  417.69414  30.1%     -    1s
     0     0  417.32974    0  345  321.00000  417.32974  30.0%     -    1s
H    0     0                     325.0000000  417.32974  28.4%     -    1s
     0     0  417.07724    0  347  325.00000  417.07724  28.3%     -    1s
     0     0  417.04381    0  345  325.00000  417.04381  28.3%     -    1s
     0     0  417.02364    0  340  325.00000  417.02364  28.3%     -    1s
     0     0  417.01980    0  344  325.00000  417.01980  28.3%     -    1s
     0     0  416.55989    0  399  325.00000  416.55989  28.2%     -    1s
H    0     0                     330.0000000  416.55989  26.2%     -    1s
     0     0  416.51157    0  362  330.00000  416.51157  26.2%     -    1s
     0     0  416.48656    0  361  330.00000  416.48656  26.2%     -    1s
     0     0  416.47929    0  358  330.00000  416.47929  26.2%     -    1s
     0     0  416.18019    0  352  330.00000  416.18019  26.1%     -    1s
     0     0  415.99204    0  328  330.00000  415.99204  26.1%     -    1s
     0     0  415.97121    0  345  330.00000  415.97121  26.1%     -    1s
     0     0  415.96272    0  342  330.00000  415.96272  26.0%     -    1s
     0     0  415.80304    0  406  330.00000  415.80304  26.0%     -    1s
H    0     0                     332.0000000  415.80304  25.2%     -    1s
     0     0  415.78922    0  367  332.00000  415.78922  25.2%     -    1s
     0     0  415.71719    0  406  332.00000  415.71719  25.2%     -    1s
     0     0  415.71719    0  406  332.00000  415.71719  25.2%     -    1s
H    0     0                     369.0000000  415.71719  12.7%     -    1s
H    0     0                     389.0000000  415.71719  6.87%     -    2s
H    0     2                     392.0000000  415.71719  6.05%     -    2s
     0     2  415.71719    0  405  392.00000  415.71719  6.05%     -    2s
   374   318  404.21308   46  239  392.00000  414.51388  5.74%   293    5s
H  795   616                     394.0000000  414.26927  5.14%   254    6s

In [ ]:
#model.computeIIS()
model.write("model.lp")

In [12]:
# Query number of multiple objectives, and number of solutions
nSolutions  = model.SolCount
nObjectives = model.NumObj
print('Problem has', nObjectives, 'objectives')
print('Gurobi found', nSolutions, 'solutions')

Problem has 1 objectives
Gurobi found 1 solutions

In [14]:
model.ObjVal

1e+30

In [13]:
solutions = []
for s in range(nSolutions):
  # Set which solution we will query from now on
    model.params.SolutionNumber = s

  # Print objective value of this solution in each objective
    print('Solution', s, ':', end='')
    for o in range(nObjectives):
        # Set which objective we will query
        model.params.ObjNumber = o
        # Query the o-th objective value
        print(' ',model.ObjNVal, end='')
    print('\n')

Solution 0 :

AttributeError: Out of range for parameter value of ObjNumber

In [102]:
# Choix de la solution et de la fonction objective
model.params.SolutionNumber = 0
model.params.ObjNumber = 0
model.ObjNVal

407.0

In [15]:

values= []
for k, v in pijkt.items():
    values.append(v.Xn)

In [16]:
res = pd.DataFrame(list(pijkt.keys()))
res[4] = values
result = res[res[4] == 1]
result

Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []

In [105]:
import matplotlib.pyplot as plt
from matplotlib import colors as mcolors


colors = dict(mcolors.BASE_COLORS, **mcolors.CSS4_COLORS)

# Sort colors by hue, saturation, value and name.
by_hsv = sorted((tuple(mcolors.rgb_to_hsv(mcolors.to_rgba(color)[:3])), name)
                for name, color in colors.items())
sorted_names = [name for hsv, name in by_hsv]

In [106]:
color_list = np.random.choice(sorted_names,15)
color_dict = dict(zip(job_list,color_list))
color_dict

{'Job1': 'saddlebrown',
 'Job2': 'orchid',
 'Job3': 'darkgoldenrod',
 'Job4': 'indigo',
 'Job5': 'whitesmoke',
 'Job6': 'm',
 'Job7': 'darkgray',
 'Job8': 'palegoldenrod',
 'Job9': 'peachpuff',
 'Job10': 'fuchsia',
 'Job11': 'darksalmon',
 'Job12': 'violet',
 'Job13': 'mediumvioletred',
 'Job14': 'crimson',
 'Job15': 'seashell'}

## Result Table

In [107]:
def color_table(x):
    
    if pd.isna(x):
        return "background-color: white"
    
    else:
        x = x.split(" ")[0]
        if x in color_dict.keys():
            color = color_dict[x]
            return "background-color: " + color
        else:
           return  "background-color: red"

In [108]:
df = pd.DataFrame(columns = [i for i in range(1,23)], index = staff_names)

for ind, val in result.iterrows():
    col = val[3]
    row = val[0]
    v = val[1] + " " + val[2]
    df.loc[row,col] = v
    # vacation
    for staff in staff_names:
        for day in jour_list:
            if day in vi[staff]:
                df.loc[staff,day] = 'X'
df.style.applymap(color_table)

In [96]:
yj

{'Job1': <gurobi.Var yj[Job1] (value 1.0)>,
 'Job2': <gurobi.Var yj[Job2] (value -0.0)>,
 'Job3': <gurobi.Var yj[Job3] (value 1.0)>,
 'Job4': <gurobi.Var yj[Job4] (value 1.0)>,
 'Job5': <gurobi.Var yj[Job5] (value 1.0)>,
 'Job6': <gurobi.Var yj[Job6] (value 1.0)>,
 'Job7': <gurobi.Var yj[Job7] (value 1.0)>,
 'Job8': <gurobi.Var yj[Job8] (value -0.0)>,
 'Job9': <gurobi.Var yj[Job9] (value 1.0)>,
 'Job10': <gurobi.Var yj[Job10] (value 0.0)>,
 'Job11': <gurobi.Var yj[Job11] (value -0.0)>,
 'Job12': <gurobi.Var yj[Job12] (value 1.0)>,
 'Job13': <gurobi.Var yj[Job13] (value 1.0)>,
 'Job14': <gurobi.Var yj[Job14] (value 1.0)>,
 'Job15': <gurobi.Var yj[Job15] (value 1.0)>}

In [17]:

# start date
sj

{'Job1': <gurobi.Var sj[Job1] (value 1.0)>,
 'Job2': <gurobi.Var sj[Job2] (value 2.0)>,
 'Job3': <gurobi.Var sj[Job3] (value 3.0)>,
 'Job4': <gurobi.Var sj[Job4] (value 2.0)>,
 'Job5': <gurobi.Var sj[Job5] (value 4.0)>}

In [794]:
# end date
ej

{'Job1': <gurobi.Var ej[Job1] (value 2.0)>,
 'Job2': <gurobi.Var ej[Job2] (value 1.0)>,
 'Job3': <gurobi.Var ej[Job3] (value 4.0)>,
 'Job4': <gurobi.Var ej[Job4] (value 3.0)>,
 'Job5': <gurobi.Var ej[Job5] (value 5.0)>}

In [795]:
# length
nj

{'Job1': <gurobi.Var nj[Job1] (value 2.0)>,
 'Job2': <gurobi.Var nj[Job2] (value 2.0)>,
 'Job3': <gurobi.Var nj[Job3] (value 2.0)>,
 'Job4': <gurobi.Var nj[Job4] (value 2.0)>,
 'Job5': <gurobi.Var nj[Job5] (value 2.0)>}